.box {
    height: 60px;
    width: 60px;
    vertical-align: top;
    font-weight: bold;
    font-size: 20px;
    margin: 0;
}

.inner-box-container {
    margin: 14px 0;
}

.container {
    padding: 20px;
    max-width: 480px;
    min-width: 250px;
    margin: 0 auto;
}

.logo {
    color: azure;
    size: 48px;
    font-weight: bold;
}

body {
    font-family: "Press Start 2P", cursive;
}

.costum-icon {
    margin-bottom: 16px !important;
    margin-right: 48px !important;
}

.costum-heart {
    transform: scale(1.5) !important;
    margin-right: 8px !important;
    margin-bottom: 4px !important;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
 }